<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Game Full</title>
</head>
<body>
	<h1>Game is full</h1>
	<h3><a href="/game">Retry?</a></h3>
	<h4><a href="/">Back to Index</a></h4>
</body>
</html>