<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include partials/head %>
	<title>Game Full</title>
</head>
<body>
	<h1>Game is full</h1>
	
	<% if (players === 1) { %>
	<h3><strong><%= players %></strong> player currently in the game</h3>
	<% } else { %>
	<h3><strong><%= players %></strong> players currently in the game</h3>
	<% } %>

	<div class="links">
		<h3><a href="/game">Retry?</a></h3>
		<h4><a href="/">Main</a></h4>
	</div>
</body>
</html>