<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="stylesheets/stylesheet.css">
	<title>Game</title>
</head>
<body>
	
	<div id="game-area"></div>

	<div id="chat-area">
		<ul id='messages'></ul>
		<form action="">
			<input type="text" id="m" autocomplete='off'>
			<button>Send</button>
		</form>
	</div>
	<div id="rules">
		<ol>
			<li>RULES</li>
			<li>Arrow Keys to move</li>
			<li>Spacebar to shoot</li>
			<ol>Upgrades
				<li><strong>A</strong> $500: upgrades your gun speed</li>
				
			</ol>
		</ol>
	</div>
</body>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="javascripts/phaser.min.js"></script>
<script src="javascripts/poop.js"></script>


<script>
  var socket = io();
  var a;

  // CHAT STUFF
  $('form').submit(function(){
  	if ($('#m').val() !== /^\/name\s/) {
	    socket.emit('chat message', $('#m').val());
	  }
	  else {
	  	socket.emit('name change')//, new name)
	  }
    $('#m').val('');
    return false;
  });
  socket.on('chat message', function(msg){
    $('#messages').prepend($('<li>').text(msg));
  });
  socket.on('connected msg',function(user) {
  	$('#messages').prepend($('<li>').text(user+" has connected"))
  })
</script>
</html>