<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include partials/head %>
	<title>Game Over</title>
</head>
<body>
	<h1>You Died!</h1>
	<div class="links">
		<h3><a href="/game">Try again?</a></h3>
		<h4><a href="/">Main</a></h4>
	</div>
</body>
</html>