<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../stylesheets/gamev2.css">
	<title>ph4zerGame</title>
</head>
<body>
	
	<div id="game-area">
		<!-- Alias Input form -->
		<div id="alias-form">
			<form class="alias-form">
				<input type="text" class='alias' placeholder="Noob">
				<button>Join Game!</button>
			</form>
		</div>		
	</div>

<!-- 	<div id="chat">
		<div id="messages"></div>

		<div class="chat-input">
			<form class='chat-form'>
				<input class='outgoing-message'>
				<button>Submit</button>
			</form>
		</div>
	</div> --> <!-- end .chat -->


	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script type="text/javascript">
		var socket = io();
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.4.6/phaser.min.js"></script>
	<script src="javascripts/boot.js"></script>
	<script src="javascripts/load.js"></script>
	<script src="javascripts/menu.js"></script>
	<script src="javascripts/play.js"></script>
	<script src="javascripts/game_v2.js"></script>
<!-- 	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
	<script type="text/babel" src="javascripts/game_chat.js"></script> -->
	
</body>
</html>