<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ph4zerGame</title>
</head>
<body>
	
	<div id="game-area"></div>

	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script>
		var socket = io();
	</script>

	<script src="javascripts/phaser.min.js"></script>
	<script src="javascripts/boot.js"></script>
	<script src="javascripts/load.js"></script>
	<script src="javascripts/menu.js"></script>
	<script src="javascripts/game_v2.js"></script>
</body>
</html>