<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GorEjaKz</title>
</head>
<body>
	<h1>Welcome to my Shooter</h1>
	<a href="/game">Take me to the game!</a>
	<p>Created by Philip Choi</p>
</body>
</html>