<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="stylesheets/stylesheet.css">
	<title>GorEjaKz</title>
</head>
<body>
	<h1>Welcome to my Shooter</h1>
	<p>Created by Philip Choi</p>
	<h5>All Images/Sprites belong to their rightful owners. I did not create any of them.</h5>
	
	<div id="rules">
		<h2>Rules</h2>
		<ol>
			<li>Arrow Keys to move</li>
			<li>Spacebar to shoot</li>
			<!-- <ol>Coins:
				<li><img src="images/" alt=""></li>
			</ol> -->
			<li>Pick up coins to purchase Abilities or Upgrade!</li>
			<li class='top-text'>Abilities:</li>
			<ul>
				<li><strong>E</strong> $200: Shoots UP and Down</li>
				<li><strong>F</strong> $250: Shoots 3 bullets forward (spread)</li>
				<li><strong>S</strong> $350: Creates a shield that absorbs one hit</li>
				<li><strong>Q</strong> $500: Upgrades your gun speed</li>
				<li><strong>A</strong> $1000: Shoots in 8 directions</li>
				<li><strong>R</strong> $3000: Big laser!</li>
			</ul>
		</ol>
		<h3>Notes:</h3>
		<ol>
			<li>Your bank will be cut in half when a new player joins</li>
			<li>There are still bugs so Click your browser's Back button and try again if something is wrong</li>
		</ol>
	</div>
	
	<h3><a href="/game">Take me to the game!</a></h3>
</body>
</html>