/** {
	border: 1px solid black;
}*/

canvas {
	margin: auto auto;
}

#chat-area {
	height: 400px;
}

.top-text {
	color:orange;
}

strong {
	color:blue;
}

li {
	margin-bottom: 1em;
}

.links { 
	text-align: center
}
